/* z-index (niveles de capas)
btn cerrar hist 2
resaltado 3
paleta 100
paleta full 150
hover y active en paletas 180
btntop 200
modal 300
    hover y active miembros grupos color 320
snack 500
loader 9999
*/
/*Stack Overflow: se sugiere para que las alturas funcionen*/
html, body {
    height: 100% !important;
    min-height: 100%;
}
#pantalla {
    /*border: 2px solid red;*/
    overflow: auto;
    padding: 0;
    margin: 0;
    /* oculto inicialmente */
    display: none;
    background-color: #000000;
}
.oculto {
    /* para ocultar dinámicamente elementos con display con prefijos*/
    display: none !important;
}
#paletaFull {
    /* oculto por defecto */
    display: none;
    /* fijo en la pantalla completa */
    position: fixed;
    /* sobre el dibujo */
    z-index: 150;
    left: 12px;
    top: 12px;
    margin: 0;
    padding: 0;
    background-color: gray;
    background-color: transparent;
    /*no se puede seleccionar el texto*/
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    /* transición */
    -moz-transition: top 0.6s;
    -o-transition: top 0.6s;
    -webkit-transition: top 0.6s;
    transition: top 0.6s;
}
    #paletaFull button {        
        cursor: pointer;
        font-family: Tahoma, Arial, sans-serif;
        display: inline-block;
        color: white;
        background-color: purple;
        padding: 7px;
        margin: 6px 2px;
        text-align: center;
        border: 3px solid #666699;
        -moz-transition: opacity 0.4s, visibility 0.4s, background-color 0.4s;
        -o-transition: opacity 0.4s, visibility 0.4s, background-color 0.4s;
        -webkit-transition: opacity 0.4s, visibility 0.4s, background-color 0.4s;
        transition: opacity 0.4s, visibility 0.4s, background-color 0.4s;
    }
    #paletaFull .fa {
        /* no llevan texto ...*/
        font-size: 1.15em;
    }    
    
/* para el color hex modal */
#muestraMarcoHex {
    border: 2px inset gray;
    background-color: #000000;
    color: #ffffff;
    margin: 8px auto 10px auto;
    padding: 4px;
    text-align: center;
    overflow: auto;
    width: 90%;
    height: 64px;
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*centrar verticalmente*/
    /* BROWSER DEFINITION */
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    /* W3C DEFINITION */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* anima */
    /*WEBKIT*/
    -webkit-animation-name: blancoynegro;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    /*MOZ*/
    -moz-animation-name: blancoynegro;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    /*O*/
    -o-animation-name: blancoynegro;
    -o-animation-duration: 1s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    /*ESTÁNDAR*/
    animation-name: blancoynegro;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /*SOMBRA*/
    -moz-box-shadow: 5px 5px 3px #C0C0C0;
    -webkit-box-shadow: 5px 5px 3px #C0C0C0;
    box-shadow: 5px 5px 3px #C0C0C0;
    /*no se puede seleccionar el texto*/
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
#errorHex {
    color: red;
    font-weight: bold;
    background-color: white;
    font-size: 1.2em;
    text-align: center;
    overflow: auto;
    max-width: 100%;
    font-family: 'Courier New', Consolas, Courier, monospace;
}
#valorHex {
    padding: 8px;
    background-color: white;
    color: black;
    width: 25%;
    min-width: 120px;
    max-width: 90%;
    overflow: auto;
    margin: 12px 0px 4px 0px;
    font-family: Consolas, Courier New, Courier, monospace ;
    font-size: 1.2em;    
    text-align: left;
}
    #valorHex:focus {
        background-color: #dcdcdc;
        /*SOMBRA*/
        -moz-box-shadow: 5px 5px 3px #C0C0C0;
        -webkit-box-shadow: 5px 5px 3px #C0C0C0;
        box-shadow: 5px 5px 3px #C0C0C0;
    }
    #valorHex:hover {
        background-color: #dcdcdc;
    }
/* para el accordion */
.contFamiliaColores {
    background-color: white;
    margin: 0px;
    padding: 4px 4px 16px 6px;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    max-width: 100%;
    border: 2px solid purple; /* normal, del tema */
    border-top-width: 0;
    /*no se puede seleccionar el texto*/
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    /* SIN BORDE REDONDEADO*/
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.miembroFamiliaColores {
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin: 8px 6px 16px 0px;
    /* el borde del seleccionado cambiará a #009900 */
    border-style: solid;
    border-color: white;
    border-width: 4px;
    -moz-transition: -moz-box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    -webkit-transition: -webkit-box-shadow 0.2s;
    transition: box-shadow 0.2s;
}
    .miembroFamiliaColores:hover {
        z-index: 320;
        /* una sombra pequeña */
        -moz-box-shadow: 0px 0px 0.6em #009900;
        -webkit-box-shadow: 0px 0px 0.6em #009900;
        box-shadow: 0px 0px 0.6em #009900;
    }
    .miembroFamiliaColores:active {
        z-index: 320;
        /* una sombra más grande */
        -moz-box-shadow: 0px 0px 1.5em #009900;
        -webkit-box-shadow: 0px 0px 1.5em #009900;
        box-shadow: 0px 0px 1.5em #009900;
    }
.accordion {
    border: 2px solid #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    /* SIN BORDE REDONDEADO*/
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#pink {
    background-color: #FFC0CB;
    color: #003f34;
}

    #pink:after {
        color: #003f34;
    }

.active, .accordion:hover {
    border: 2px solid purple;
}

.accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    /* SIN BORDE REDONDEADO*/
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0px;
    background-color: #ffffff;
    max-height: 0;
    overflow: hidden;
    /* suave */
    -moz-transition: max-height 0.2s ease-out;
    -webkit-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}
/* para el rgb */
#icoMuestraRGB, #icoMuestraHex, #icoMuestraGallery {
    border: 2px double #ffffff !important;
    padding: 0 !important;
    background-color: #87888b;
    /* Rounded corners iniciales */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; /* Rounded corners */
}

#rgbCaption {
    margin: 6px 0px;
    font-weight: bold;
    color: purple;
    font-size: 0.98em;
    -webkit-transition: color 0.7s;
    -moz-transition: color 0.7s;
    -o-transition: color 0.7s;
    transition: color 0.7s;
}

#contInfoGallery {
    margin: 6px 0px;
    font-weight: bold;
    color: purple;
    background-color: white;
    font-size: 0.95em;
    padding: 4px;
    border: 4px solid #000000;
    border-bottom-width: 16px;
    border-right-width: 10px;
    overflow: auto;
}
#contInfoGallery p {
    margin: 2px 0px;
    padding: 0;
    border: none;
    max-width: 100%;
}

#contenedorRGB {
    padding: 2px 6px;
    border: 6px solid #000000;
    border-bottom-width: 30px;
    border-right-width: 14px;
}


#rangoR, #rangoG, #rangoB {
    margin-top: 4px;
    margin-bottom:4px;
    float: left;
    width: 68%; /* The width is 80%, by default */    
}
.span-espacio {
    float: left;
    width: 2%;
    min-width: 2%;
    max-width: 2%;    
}
.number-rgb-container {
    float: left; 
    width: 30%; /* The width is 20%, by default */    
    text-align: center;    
    margin: 4px 0px 4px 0px;    
    white-space: nowrap;    
}
.spanRGB {    
    width: 20px;
    min-width: 20px;
    text-align: center;
    padding: 0px;
    margin: 0;
    color: purple;
    font-weight: bold;
    font-family: Consolas, Courier New, Courier, monospace;
}
.number-rgb {
    font-family: Consolas, Courier New, Courier, monospace;
    font-size: 17px;
    max-width: 90%; 
    width: 90px;
    min-width: 30%;
    padding: 4px 2px;
    color: black;
    background-color: white;
    margin: 0;
}

    .number-rgb:focus {
        background-color: #dcdcdc;
        /*SOMBRA*/
        -moz-box-shadow: 2px 2px 1.5px #C0C0C0;
        -webkit-box-shadow: 2px 2px 1.5px #C0C0C0;
        box-shadow: 2px 2px 1.5px #C0C0C0;
    }

    .number-rgb:hover {
        background-color: #dcdcdc;
    }
/* Use a media query to add a break point at 600px: */
@media screen and (max-width:600px) {
    #rangoR, #rangoG, #rangoB, .number-rgb-container {
        float: none;
        width: 100%; /* The width is 100%, when the viewport is 600px or smaller */
    }
    .span-espacio  {
        float: none;
        display: none; 
    }
    .number-rgb {
        min-width: 30%;
    }
    .number-rgb-container {
        text-align: left;
        padding-left: 8px;
    }
}
.contenedor-rgb-color {
    
    margin: 6px 0px;
    padding: 6px;
    background-color: #ffffff;
    overflow: auto;
    /* Rounded corners  */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* Rounded corners */
    vertical-align: central;
    
   
}
#contenedorR {
    border: 6px solid #ff0000;    
}

#contenedorG {
    border: 6px solid #00ff00;    
}

#contenedorB {
    border: 6px solid #0000ff;    
}

/* inicia clase seleccionado */
.seleccionado {
    color: #000000;
    /* anima */
    /*WEBKIT*/
    -webkit-animation-name: blancoynegro;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    /*MOZ*/
    -moz-animation-name: blancoynegro;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    /*O*/
    -o-animation-name: blancoynegro;
    -o-animation-duration: 1s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    /*ESTÁNDAR*/
    animation-name: blancoynegro;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-webkit-keyframes blancoynegro {
    0% {
        color: #000000;
    }

    50% {
        color: #ffffff;
    }

    100% {
        color: #000000;
    }
}

@-moz-keyframes blancoynegro {
    0% {
        color: #000000;
    }

    50% {
        color: #ffffff;
    }

    100% {
        color: #000000;
    }
}

@-o-keyframes blancoynegro {
    0% {
        color: #000000;
    }

    50% {
        color: #ffffff;
    }

    100% {
        color: #000000;
    }
}

@keyframes blancoynegro {
    0% {
        color: #000000;
    }

    50% {
        color: #ffffff;
    }

    100% {
        color: #000000;
    }
}
/*fin clase seleccionado*/

#muestraRadio {
    border: 4px solid #990000;
    margin: 12px auto 24px auto;
    width: 100px;
    height: 100px;
    background-color: #009900;
}

#relleno, #muestraRadio, #rellenoHistorial {
    /* Rounded corners iniciales */
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px; /* Rounded corners */
    /* sutil efecto */
    -moz-transition: border-radius 0.3s;
    -o-transition: border-radius 0.3s;
    -webkit-transition: border-radius 0.3s;
    transition: border-radius 0.3s;
}

#relleno {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    background-color: #000000;
    padding: 0;
    margin: 0;
    margin-right: 4px;
    text-align: center;
    border: none;
    opacity: 1;
    visibility: visible;
    font-size: 1.2em;
    vertical-align: text-bottom;   
    /* configurado, pero no lo mostraremos */
    /* ajustar min-width del botón en caso de usarlo */
    display: none;
}
#BtnRellenar, #BtnColorLienzo, #BtnColorRejilla {
    /* una sombra para que se vea el ícono de cualquier color */
    text-shadow: 0px 0px 2px #ffffff;
    /* color inicial es negro */
    color: #000000;
}
#BtnColorRejilla i {
    width: 34px !important;
    height: 34px !important;
}
#paletaHistorial button {
    /* una sombra para que se vea el ícono de cualquier color */
    text-shadow: 0px 0px 2px #ffffff;
}

#aIzquierda {
    font-size: 1.4em;
    color: purple;
    vertical-align: auto;
    min-width: 50%;
    text-align: left;
    display: inline-block;
    font-weight: bold;
}

#aDerecha {
    font-size: 1.4em;
    color: purple;
    vertical-align: auto;
    min-width: 50%;
    text-align: right;
    display: inline-block;
    font-weight: bold;
}

    #aIzquierda i:hover, #aDerecha i:hover {
        background: #8c53c6; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #8c53c6, rebeccapurple); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #8c53c6, rebeccapurple); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #8c53c6, rebeccapurple); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #8c53c6, rebeccapurple); /* Standard syntax (must be last) */
    }

#divA {
    width: 100%;
    white-space: nowrap;
    margin-top: 24px;
}

    #divA i {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: rebeccapurple; /* Set a background color */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 7px 12px; /* Some padding */
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px; /* Rounded corners */
        /*SOMBRA*/
        -moz-box-shadow: 5px 5px 3px MediumPurple;
        -webkit-box-shadow: 5px 5px 3px MediumPurple;
        box-shadow: 5px 5px 3px MediumPurple;
        /*no se puede seleccionar el texto*/
        -webkit-user-select: none; /* Chrome, Opera, Safari */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Standard syntax */
    }
/* ajustes de la ventana modal */
/*íconos en los títulos de las ventanas modales*/
.modal-header .fa {
    /* van con texto a la derecha ...*/
    margin-right: 6px;
    border-style: solid;
    border-color: lavender;
    border-width: 1px;
    padding: 2px 6px;
    font-size: 0.85em;
}
/* Set a style for the submit button, BOTÓN ACEPTAR */
.btn {
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    background: purple; /* For browsers that do not support gradients */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    /*no se puede seleccionar el texto*/
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

    .btn:hover {
        background: #990099;
        font-weight: bold;
    }
/*mensaje de validación O INFORMACIÓN EN CADA MODAL */
#infoModal {
    color: green;
    background-color: #d3f8d3;
    margin: 14px 4px 10px 4px;
    padding: 8px 8px 8px 12px;
    border-left-style: solid;
    border-left-color: green;
    border-left-width: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 300; /* Sit on top. ver la tabla de valores en el css */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 95%;
    -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    -moz-animation-name: animatetop;
    -moz-animation-duration: 0.4s;
    -o-animation-name: animatetop;
    -o-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@-moz-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@-o-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    /*no se puede seleccionar el texto*/
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

    .close:hover,
    .close:focus {
        color: lavender;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 30px;
    }

.modal-header {
    padding: 2px 16px;
    background-color: purple;
    color: white;
    /*no se puede seleccionar el texto*/
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    text-align: left;
}

.modal-body {
    padding: 2px 12px;
    max-width: 100%;
    overflow: auto;
    /*max-height:150px; puede ajustarse con javascript*/
    -moz-transition: width 0.5s;
    -o-transition: width 0.5s;
    -webkit-transition: width 0.5s;
    transition: width 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.modal-footer {
    padding: 0;
    background-color: purple;
    color: white;
    /*no se puede seleccionar el texto*/
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

/*REVISAR EN CASO DE USAR OTROS HEADERS*/
.modal-header h2 {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
/* fin ajustes de la ventana modal */

/* inicia */
/* ajustes de impresión */

@page {
    margin: 0.4cm;
}

@media print {

    * {
        /*
        ni transiciones
        */
        -o-transition: none !important;
        -moz-transition: none !important;
        -webkit-transition: none !important;
        transition: none !important;
        /*
        ni animaciones
        */
        animation: none !important;
    }
    /* ocultar */
    #BtnTop, .paleta, .loader, #pie, #BtnCerrarHistorial, #myModal, #snackbar, #paletaFull {
        display: none !important;
    }
    #pantalla {
        background-color: transparent !important;
        overflow: hidden !important;        
    }
    
    .contenedor {
        margin: 16px 4px 4px 8px !important;
        overflow: hidden !important;
        max-width: none !important;
    }
    
    html, body {
        height: auto !important;
        min-height: 0;
    }
    .fila {
        overflow: hidden !important;
    }

    .columna {
        font-size: 0px !important;
    }

    body {
        background-color: transparent !important;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        color: black !important;
        text-align: center !important;
        margin: 0.5cm 0.3cm !important;
        padding: 0.1cm !important;
        border: 0.5px solid gray;
    }

    h1, h3 {
        color: black !important;
        margin: 12px;
        max-width: 100%;
        overflow: hidden !important;
        text-align: center !important;
    }
}
/* fin print */
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /*background: url('pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);*/
    background: rgb(179, 179, 179);
    opacity: 0.8;
    filter: Alpha(opacity=80); /* IE8 and earlier */
    text-align: center;
    /*centrar verticalmente*/
    /* BROWSER DEFINITION */
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    /* W3C DEFINITION */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.sk-cube-grid {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

    .sk-cube-grid .sk-cube {
        width: 33%;
        height: 33%;
        background-color: #333;
        float: left;
        -moz-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        -o-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    }

    .sk-cube-grid .sk-cube1 {
        -o-animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube2 {
        -moz-animation-delay: 0.3s;
        -o-animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube3 {
        -moz-animation-delay: 0.4s;
        -o-animation-delay: 0.4s;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .sk-cube-grid .sk-cube4 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube5 {
        -moz-animation-delay: 0.2s;
        -o-animation-delay: 0.2s;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube6 {
        -moz-animation-delay: 0.3s;
        -o-animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube7 {
        -moz-animation-delay: 0s;
        -o-animation-delay: 0s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .sk-cube-grid .sk-cube8 {
        -moz-animation-delay: 0.1s;
        -o-animation-delay: 0.1s;
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube9 {
        -moz-animation-delay: 0.2s;
        -o-animation-delay: 0.2s;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@-moz-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -moz-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -moz-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@-o-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -o-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -o-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

h1, h3 {
    color: purple;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    overflow: auto;
}
/* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: orange;
}

.link {
    font-style: italic;
    font-size: 1em;
    margin-left: 3px;
    margin-right: 3px;    
}
button, i, a, .columna, .contenedor, .miembroFamiliaColores {
    -webkit-tap-highlight-color: transparent;
}
#BtnColorRejilla {
        padding: 2.5px;        
}
    #BtnColorRejilla i {
        border-style: solid;
        border-top-color: #ff3300;
        border-bottom-color: blue;
        border-left-color: lime;
        border-right-color: yellow;
        border-width: 5px;
        font-size: 12px;
        padding: 6px;
        margin: 2px;
    }
.contenedor {
    /* sin filtro inicialmente */
    -webkit-filter: none;
    filter: none;
    overflow: auto !important;
    margin: 80px 0px 0px 0px;
    width: 200px;
    max-width: 88%;
    /*border: 1px solid purple;*/
    display: inline-block;
    padding: 0px;
    font-size: 0px;
    /* COLOR LIENZO INICIAL */
    background-color: #000000;
    -moz-transition: background-color 0.6s;
    -o-transition: background-color 0.6s;
    -webkit-transition: background-color 0.6s;
    transition: background-color 0.6s;
}

#pie {
    margin-bottom: 76px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    overflow: auto;
}

#colorPixel {
    min-width: 70px;
    max-width: 20%;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 2px 4px;
}

#rellenoHistorial {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    background-color: black;
    padding: 0;
    margin: 0;
    margin-right: 4px;
    text-align: center;
    border: none;
    opacity: 1;
    visibility: visible;
    font-size: 1.2em;
    vertical-align: text-bottom;
}

#rellenoHistorial {
    /* gradiente multicolor de arriba a abajo */
    background: -webkit-linear-gradient(red, orange, yellow, green, blue, indigo, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, orange, yellow, green, blue, indigo, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, orange, yellow, green, blue, indigo, violet); /* For Fx 3.6 to 15 */
    background: linear-gradient(red, orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */
}
/* Selecciona cualquier <input> no válido */
#colorPixel:invalid {
    background-color: darkred;
    color: white;
}
#spanFilas, #spanColumnas {
    display: inline-block;
    padding: 0;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    vertical-align: central;    
    border: none;
    opacity: 1;
    visibility: visible;
    font-size: 0.8em;
    cursor: default; /* por ie y edge */
    color: indigo;
    /*centrar verticalmente*/
    /* BROWSER DEFINITION */
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    /* W3C DEFINITION */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.espacioDerecha {
    display: inline-block;
    padding: 0;
    border: none;
    margin: 0;
    width: 8px;
    min-width: 8px;
    font-size: 1.2em;
    opacity: 0;
}
/* selectores de filas y columnas */
#selectFilas, #selectColumnas, #filtro {
    margin: 6px 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    max-width: 50%;
    padding: 0px 4px;
    border: none;
    background-color: #b3b3b3;
    font-size: 1em;
}
#selectFilas, #selectColumnas {
   min-width: 60px;
}
    #selectFilas:focus, #selectColumnas:focus, #filtro:focus {
        background-color: #cccccc !important;
    }

#selectColumnas {
    margin-right: 6px !important;
}
/* selector de filtro */
#filtro {
    margin: 4px 6px !important;
    min-width: 100px;
}

/*íconos de la barra */
.paleta .fa, #BtnCerrarHistorial .fa {
    /* no llevan texto ...*/
    font-size: 1.2em;
}
/*botones de barra de herramientas*/
#paletaArriba button, #paletaAbajo button {
    visibility: visible;
    /* para que conserven su forma en pantallas angostas */
    min-width: 49px;
    -moz-transition: opacity 0.4s, visibility 0.4s, background-color 0.4s;
    -o-transition: opacity 0.4s, visibility 0.4s, background-color 0.4s;
    -webkit-transition: opacity 0.4s, visibility 0.4s, background-color 0.4s;
    transition: opacity 0.4s, visibility 0.4s, background-color 0.4s;
}
#BtnHistorialColor { /* agregue aquí #BtnRellenar en caso de usar relleno */
    min-width: 62px !important;
    -moz-transition: opacity 2s, -moz-box-shadow 0.2s;
    -o-transition: opacity 2s, box-shadow 0.2s;
    -webkit-transition: opacity 2s, -webkit-box-shadow 0.2s;
    transition: opacity 2s, box-shadow 0.2s;
}

.paleta button {
    cursor: pointer;
    font-family: Tahoma, Arial, sans-serif;
    display: inline-block;
    color: white;
    background-color: purple;
    padding: 12px;
    margin: 8px 2px;
    text-align: center;
    border: 3px solid #666699;
}

#paletaHistorial button {
    padding: 5px !important;
    margin: 1px 2px !important;
    visibility: visible;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.paleta button:first-child, #BtnAceptarLibre {
    margin-left: 8px;
}
/* esto no funciona, es mejor un span al final de la clase espacioDerecha */
/*
            .paleta button:last-child {
                margin-right: 8px;
            }
*/
/* este truco para mostrar un padding bottom efectivo */
#paletaHistorial:after {
    content: "";
    height: 12px; /* padding-bottom: ESTO PARA QUE SE VEA EN IE Y FIREFOX*/
    display: block;
}

.paleta button:hover, #BtnCerrarHistorial:hover, #paletaFull button:hover, #colorPixel:hover, #selectFilas:hover, #selectColumnas:hover, #filtro:hover {
    z-index: 180;
    /* una sombra pequeña */
    -moz-box-shadow: 0px 0px 0.3em #ffffff, 0px 0px 0.6em #e600e6;
    -webkit-box-shadow: 0px 0px 0.3em #ffffff, 0px 0px 0.6em #e600e6;
    box-shadow: 0px 0px 0.3em #ffffff, 0px 0px 0.6em #e600e6;
}
button, select, input {
    /* remove outline */
    outline: none;
}
    button:focus, input[type=color]:focus, select:focus {
        /* outline por accesibilidad */
        outline: 0.3px solid purple !important;
        outline: 0.3px solid rgba(128, 0, 128, 0.7) !important;
        outline-offset: 2px !important;
    }    
    /* remover puntitos en firefox focus */
    button::-moz-focus-inner, input::-moz-focus-inner, select::-moz-focus-inner, select::-moz-focus-outer {
        border: 0 !important;
    }
    select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }

.paleta button:active, #BtnCerrarHistorial:active, #paletaFull button:active, #colorPixel:active {
    z-index: 180;
    /* una sombra más grande */
    -moz-box-shadow: 0px 0px 0.7em #ffffff, 0px 0px 1.5em #e600e6;
    -webkit-box-shadow: 0px 0px 0.7em #ffffff, 0px 0px 1.5em #e600e6;
    box-shadow: 0px 0px 0.7em #ffffff, 0px 0px 1.5em #e600e6;
}

#BtnCerrarHistorial:hover, #BtnCerrarHistorial:active {
    color: red;
}
#BtnSalirPantallaCompleta:hover, #BtnSalirPantallaCompleta:active {
    color: #009900;
}
/*LA BARRA DE NAVEGACIÓN*/
.paleta {
    background-color: gray;
    z-index: 100;
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    /*no se puede seleccionar el texto*/
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

#paletaArriba {
    top: 0 !important;
    white-space: nowrap;
    /* BROWSER DEFINITION */
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    /* W3C DEFINITION */
    display: flex;
    display: inline-flex;
    right: 0;
    overflow: auto;
    /* gradiente multicolor de arriba a abajo */
    background: -webkit-linear-gradient( rgba(128, 128, 128, 1), rgba(128, 128, 128, 0.9) ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(128, 128, 128, 1), rgba(128, 128, 128, 0.9) ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(128, 128, 128, 1), rgba(128, 128, 128, 0.9) ); /* For Fx 3.6 to 15 */
    background: linear-gradient(rgba(128, 128, 128, 1), rgba(128, 128, 128, 0.9) ); /* Standard syntax (must be last) */
}

#paletaAbajo {
    bottom: 0 !important;
    white-space: nowrap;
    /* BROWSER DEFINITION */
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    /* W3C DEFINITION */
    display: flex;
    display: inline-flex;
    right: 0;
    overflow: auto;
    /* gradiente multicolor de arriba a abajo */
    background: -webkit-linear-gradient( rgba(128, 128, 128, 0.9), rgba(128, 128, 128, 1) ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(128, 128, 128, 0.9), rgba(128, 128, 128, 1) ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(128, 128, 128, 0.9), rgba(128, 128, 128, 1) ); /* For Fx 3.6 to 15 */
    background: linear-gradient(rgba(128, 128, 128, 0.9), rgba(128, 128, 128, 1) ); /* Standard syntax (must be last) */
}

#paletaHistorial {
    top: 100px;
    bottom: 100px;
    -ms-overflow-x: hidden;
    overflow-x: hidden -ms-overflow-y: auto;
    overflow-y: auto !important;
}

#paletaHistorial, #BtnCerrarHistorial {
    /*INICIAN INVISIBLES*/
    visibility: hidden;
    opacity: 0;
    display: inline-block;
    left: -300px;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    width: 50px;
}

#BtnCerrarHistorial {
    -moz-transition: opacity 2s, -moz-box-shadow 0.2s;
    -o-transition: opacity 2s, box-shadow 0.2s;
    -webkit-transition: opacity 2s, -webkit-box-shadow 0.2s;
    transition: opacity 2s, box-shadow 0.2s;
    /* SIN BORDE REDONDEADO*/
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    top: 100px;
    z-index: 2;
    position: fixed;
    /*no se puede seleccionar el texto*/
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    cursor: pointer;
    font-family: Tahoma, Arial, sans-serif;
    padding: 6px;
    margin: 0;
    color: white;
    background-color: rgba(128, 128, 128, 0.9);
    text-align: center;
    border: 3px solid rgba(128, 128, 128, 0);
}


body {
    text-align: center;
    background-color: #000000; /* negro*/
}
.resaltado {
    z-index: 3;
    /*WEBKIT*/
    -webkit-animation-name: resaltar;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    /*MOZ*/
    -moz-animation-name: resaltar;
    -moz-animation-duration: 0.4s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    /*O*/
    -o-animation-name: resaltar;
    -o-animation-duration: 0.4s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    /*ESTÁNDAR*/
    animation-name: resaltar;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-webkit-keyframes resaltar {
    0% {
        -webkit-box-shadow: 0px 0px 0.3em #ffffff, 0px 0px 0.6em #990099, 0px 0px 0.9em #000000;
        box-shadow: 0px 0px 0.3em #ffffff, 0px 0px 0.6em #990099, 0px 0px 0.9em #000000;
    }

    50% {
        -webkit-box-shadow: 0px 0px 0.2em #ffffff, 0px 0px 0.4em #990099, 0px 0px 0.6em #000000;
        box-shadow: 0px 0px 0.2em #ffffff, 0px 0px 0.4em #990099, 0px 0px 0.6em #000000;
    }

    100% {
        -webkit-box-shadow: 0px 0px 0.1em #ffffff, 0px 0px 0.2em #990099, 0px 0px 0.4em #000000;
        box-shadow: 0px 0px 0.1em #ffffff, 0px 0px 0.2em #990099, 0px 0px 0.4em #000000;
    }
}
@-moz-keyframes resaltar {
    0% {
        -moz-box-shadow: 0px 0px 0.3em #ffffff, 0px 0px 0.6em #990099, 0px 0px 0.9em #000000;
        box-shadow: 0px 0px 0.3em #ffffff, 0px 0px 0.6em #990099, 0px 0px 0.9em #000000;
    }

    50% {
        -moz-box-shadow: 0px 0px 0.2em #ffffff, 0px 0px 0.4em #990099, 0px 0px 0.6em #000000;
        box-shadow: 0px 0px 0.2em #ffffff, 0px 0px 0.4em #990099, 0px 0px 0.6em #000000;
    }

    100% {
        -moz-box-shadow: 0px 0px 0.1em #ffffff, 0px 0px 0.2em #990099, 0px 0px 0.4em #000000;
        box-shadow: 0px 0px 0.1em #ffffff, 0px 0px 0.2em #990099, 0px 0px 0.4em #000000;
    }
}
@-o-keyframes resaltar {
    0% {        
        box-shadow: 0px 0px 0.3em #ffffff, 0px 0px 0.6em #990099, 0px 0px 0.9em #000000;
    }

    50% {
        box-shadow: 0px 0px 0.2em #ffffff, 0px 0px 0.4em #990099, 0px 0px 0.6em #000000;
    }

    100% {
        box-shadow: 0px 0px 0.1em #ffffff, 0px 0px 0.2em #990099, 0px 0px 0.4em #000000;
    }
}
@keyframes resaltar {
    0% {
        box-shadow: 0px 0px 0.3em #ffffff, 0px 0px 0.6em #990099, 0px 0px 0.9em #000000;
    }

    50% {
        box-shadow: 0px 0px 0.2em #ffffff, 0px 0px 0.4em #990099, 0px 0px 0.6em #000000;
    }

    100% {
        box-shadow: 0px 0px 0.1em #ffffff, 0px 0px 0.2em #990099, 0px 0px 0.4em #000000;
    }
}

.columna {
    /* SIN BORDE REDONDEADO*/
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    /*TIPO DE BORDE*/
    border: 0.5px solid #000000;
    width: 20px;
    /*max-width: 20px;*/
    height: 20px;
    font-size: 0px;
    display: inline-block;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /*para que IE no muestre la barra cuando el ancho es 0*/
    padding: 0px !important;
    margin: 0px !important;
    background-color: #ffffff; /*blanco*/
    /* efecto animado al cambiar color */
    -moz-transition: border-radius 0.6s, background-color 0.6s;
    -o-transition: border-radius 0.6s, background-color 0.6s;
    -webkit-transition: border-radius 0.6s, background-color 0.6s;
    transition: border-radius 0.6s, background-color 0.6s;
    /*no se puede seleccionar el texto*/
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

.fila {
    width: 100%;
    max-width: 100%;
    vertical-align: top;
    font-size: 0px;
    /*
overflow-x: hidden; 
    overflow-y: hidden;    
    */
    padding: 0px !important;
    margin: 0px !important;
    white-space: nowrap;
    /* BROWSER DEFINITION */
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    /* W3C DEFINITION */
    display: flex;
    display: inline-flex;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box !important;
}

/*SNACKBAR INICIA */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #660066; /* background color */
    color: white; /* White text color */
    text-align: center; /* Centered text */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*fuente*/
    -moz-border-radius: 10px; /*borde redondeado*/
    -webkit-border-radius: 10px; /*borde redondeado*/
    border-radius: 10px; /*borde redondeado*/
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 500; /* ver cabeza de este CSS */
    left: 50%; /* Center the snackbar */
    bottom: 70px; /* 30px from the bottom */
    /*SOMBRA*/
    -moz-box-shadow: 5px 5px 3px #4d004d;
    -webkit-box-shadow: 5px 5px 3px #4d004d;
    box-shadow: 5px 5px 3px #4d004d;
    /*no se puede seleccionar el texto*/
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
        -moz-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        -o-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 70px;
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 70px;
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 70px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 70px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 70px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
    from {
        bottom: 70px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@-o-keyframes fadeout {
    from {
        bottom: 70px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 70px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
/*FIN SNACKBAR*/
/*-------------*/

/* inicia clase parpadea */
.parpadea {
    /*WEBKIT*/
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    /*MOZ*/
    -moz-animation-name: parpadeo;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    /*O*/
    -o-animation-name: parpadeo;
    -o-animation-duration: 1s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    /*ESTÁNDAR*/
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-o-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}
/*fin clase parpadear*/

/* top button */
#BtnTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 90px !important; /* Place the button at the middle of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 200; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #660066; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 8px 10px; /* Some padding */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; /* Rounded corners */
    font-size: 1.2em;
    font-weight: bold;
    /*SOMBRA*/
    -moz-box-shadow: 4px 4px 3px #b300b3;
    -webkit-box-shadow: 4px 4px 3px #b300b3;
    box-shadow: 4px 4px 3px #b300b3;
    /*no se puede seleccionar el texto*/
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

    #BtnTop:hover {
        background: #8c53c6; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #cc00cc, #660066); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #cc00cc, #660066); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #cc00cc, #660066); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #cc00cc, #660066); /* Standard syntax (must be last) */
    }
/* INICIO CSS PARA INPUT RANGE PERSONALIZADO*/
input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 97%;
    border: none;
}

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 12.8px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        background: #9370DB;
        border-radius: 25px;
        border: 0px solid #000101;
    }

    input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 20px;
        width: 39px;
        border-radius: 7px;
        background: #4B0082;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3.6px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #7B68EE;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 12.8px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        background: #9370DB;
        border-radius: 25px;
        border: 0px solid #000101;
    }

    input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 20px;
        width: 39px;
        border-radius: 7px;
        background: #4B0082;
        cursor: pointer;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 12.8px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        border-width: 39px 0;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower {
        background: #9370DB;
        border: 0px solid #000101;
        border-radius: 50px;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }

    input[type=range]::-ms-fill-upper {
        background: #9370DB;
        border: 0px solid #000101;
        border-radius: 50px;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }

    input[type=range]::-ms-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 20px;
        width: 39px;
        border-radius: 7px;
        background: #4B0082;
        cursor: pointer;
    }

    input[type=range]:focus::-ms-fill-lower {
        background: #7B68EE;
    }

    input[type=range]:focus::-ms-fill-upper {
        background: #7B68EE;
    }
/* FIN CSS PARA INPUT RANGE PERSONALIZADO*/
/* otro, el rojo */
#rangoR::-webkit-slider-runnable-track {
    /* rojo */
    background: #ff0000;
    background-image: -webkit-linear-gradient(left, #000000, #ff0000); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #ff0000); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #ff0000); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #ff0000); /* Standard syntax (must be last) */
}

#rangoR::-webkit-slider-thumb {
    /* rojo más oscuro, dejando 3 */
    background: #990000;
}

#rangoR:focus::-webkit-slider-runnable-track {
    /* rojo más oscuro, el siguiente */
    background: #e60000;
    background-image: -webkit-linear-gradient(left, #000000, #e60000); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #e60000); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #e60000); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #e60000); /* Standard syntax (must be last) */
}

#rangoR::-moz-range-track {
    /* rojo */
    background: #ff0000;
    background-image: -webkit-linear-gradient(left, #000000, #ff0000); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #ff0000); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #ff0000); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #ff0000); /* Standard syntax (must be last) */
}

#rangoR::-moz-range-thumb {
    /* rojo más oscuro, dejando 3 */
    background: #990000;
}

#rangoR::-ms-fill-lower {
    /* rojo */
    background: #ff0000;
    background-image: -webkit-linear-gradient(left, #000000, #ff0000); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #ff0000); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #ff0000); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #ff0000); /* Standard syntax (must be last) */
}

#rangoR::-ms-fill-upper {
    /* rojo */
    background: #ff0000;
    background-image: -webkit-linear-gradient(left, #000000, #ff0000); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #ff0000); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #ff0000); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #ff0000); /* Standard syntax (must be last) */
}

#rangoR::-ms-thumb {
    /* rojo más oscuro, dejando 3 */
    background: #990000;
}

#rangoR:focus::-ms-fill-lower {
    /* rojo más oscuro, el siguiente */
    background: #e60000;
}

#rangoR:focus::-ms-fill-upper {
    /* rojo más oscuro, el siguiente */
    background: #e60000;
}

/* otro, el verde */
#rangoG::-webkit-slider-runnable-track {
    /* VERDE LIME */
    background: #00ff00;
    background-image: -webkit-linear-gradient(left, #000000, #00ff00); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #00ff00); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #00ff00); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #00ff00); /* Standard syntax (must be last) */
}

#rangoG::-webkit-slider-thumb {
    /* VERDE más oscuro, dejando 3 */
    background: #009900;
}

#rangoG:focus::-webkit-slider-runnable-track {
    /* VERDE más oscuro, el siguiente */
    background: #00e600;
    background-image: -webkit-linear-gradient(left, #000000, #00e600); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #00e600); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #00e600); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #00e600); /* Standard syntax (must be last) */
}

#rangoG::-moz-range-track {
    /* VERDE LIME */
    background: #00ff00;
    background-image: -webkit-linear-gradient(left, #000000, #00ff00); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #00ff00); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #00ff00); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #00ff00); /* Standard syntax (must be last) */
}

#rangoG::-moz-range-thumb {
    /* VERDE más oscuro, dejando 3 */
    background: #009900;
}

#rangoG::-ms-fill-lower {
    /* VERDE LIME */
    background: #00ff00;
    background-image: -webkit-linear-gradient(left, #000000, #00ff00); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #00ff00); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #00ff00); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #00ff00); /* Standard syntax (must be last) */
}

#rangoG::-ms-fill-upper {
    /* VERDE LIME */
    background: #00ff00;
    background-image: -webkit-linear-gradient(left, #000000, #00ff00); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #00ff00); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #00ff00); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #00ff00); /* Standard syntax (must be last) */
}

#rangoG::-ms-thumb {
    /* VERDE más oscuro, dejando 3 */
    background: #009900;
}

#rangoG:focus::-ms-fill-lower {
    /* VERDE más oscuro, el siguiente */
    background: #00e600;
    background-image: -webkit-linear-gradient(left, #000000, #00e600); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #00e600); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #00e600); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #00e600); /* Standard syntax (must be last) */
}

#rangoG:focus::-ms-fill-upper {
    /* VERDE más oscuro, el siguiente */
    background: #00e600;
    background-image: -webkit-linear-gradient(left, #000000, #00e600); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #00e600); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #00e600); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #00e600); /* Standard syntax (must be last) */
}

/* otro, el azul */
#rangoB::-webkit-slider-runnable-track {
    /* AZUL */
    background: #0000ff;
    background-image: -webkit-linear-gradient(left, #000000, #0000ff); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #0000ff); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #0000ff); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #0000ff); /* Standard syntax (must be last) */
}

#rangoB::-webkit-slider-thumb {
    /* AZUL más oscuro, dejando 3 */
    background: #000099;
}

#rangoB:focus::-webkit-slider-runnable-track {
    /* AZUL más oscuro, el siguiente */
    background: #0000e6;
    background-image: -webkit-linear-gradient(left, #000000, #0000e6); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #0000e6); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #0000e6); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #0000e6); /* Standard syntax (must be last) */
}

#rangoB::-moz-range-track {
    /* AZUL */
    background: #0000ff;
    background-image: -webkit-linear-gradient(left, #000000, #0000ff); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #0000ff); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #0000ff); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #0000ff); /* Standard syntax (must be last) */
}

#rangoB::-moz-range-thumb {
    /* AZUL más oscuro, dejando 3 */
    background: #000099;
}

#rangoB::-ms-fill-lower {
    /* AZUL */
    background: #0000ff;
    background-image: -webkit-linear-gradient(left, #000000, #0000ff); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #0000ff); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #0000ff); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #0000ff); /* Standard syntax (must be last) */
}

#rangoB::-ms-fill-upper {
    /* AZUL */
    background: #0000ff;
    background-image: -webkit-linear-gradient(left, #000000, #0000ff); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #0000ff); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #0000ff); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #0000ff); /* Standard syntax (must be last) */
}

#rangoB::-ms-thumb {
    /* AZUL más oscuro, dejando 3 */
    background: #000099;
}

#rangoB:focus::-ms-fill-lower {
    /* AZUL más oscuro, el siguiente */
    background: #0000e6;
    background-image: -webkit-linear-gradient(left, #000000, #0000e6); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #0000e6); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #0000e6); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #0000e6); /* Standard syntax (must be last) */
}

#rangoB:focus::-ms-fill-upper {
    /* AZUL más oscuro, el siguiente */
    background: #0000e6;
    background-image: -webkit-linear-gradient(left, #000000, #0000e6); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #000000, #0000e6); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #000000, #0000e6); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #000000, #0000e6); /* Standard syntax (must be last) */
}
