/* Stack Overflow: se sugiere para que las alturas funcionen */
html, body {
    height: 100% !important;
    min-height: 100%;    
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

.alert {
    padding: 20px;
    background-color: #04AA6D;
    color: white;
    margin-bottom: 8px;
    margin-top: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: none;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    /* transición */
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

#rellenoInferior {
    height: 40px;
}
#formato {
    margin: 12px 8px 10px 0px;   
    border: 2px solid darkred;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;    
    padding: 8px 6px;    
    background-color: white;
    font-family: Consolas, Courier New, Courier, monospace;
    font-size: 20px;    
}

.page-title {
    text-align: center;
    color: darkred;
    margin-top: 1em;
    margin-bottom: 1em;
    /*sombra en el texto*/
    text-shadow: 4px 4px 12px #000099; /*estándar*/
}
.util-contenedor {    
    border: 3px solid #000099;
    margin: 12px 8px 28px 4px;
    padding: 6px 8px 32px 16px;
    -moz-border-radius: 6px; /*borde redondeado*/
    -webkit-border-radius: 6px; /*borde redondeado*/
    border-radius: 6px; /*borde redondeado*/
    /*sombra en la caja*/
    -moz-box-shadow: 4px 4px 8px darkred;
    -webkit-box-shadow: 4px 4px 8px darkred;
    box-shadow: 4px 4px 8px darkred; /*estándar*/
}
summary {
    /*no se puede seleccionar el texto*/
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    cursor: pointer;
}
.util-title {
    color: darkred;
    display: inline-block;
    padding-left: 12px;
}
.util-title i {
    color: darkblue;
}
.util-etiqueta{
    color: darkred;
    font-weight: 600;
}
.util-number {
    border-style: inset;
    border-width: 3px;
    color: darkblue;
    background-color: white;
    font-family: Consolas, Courier New, Courier, monospace;
    font-size: 20px;
    width: 270px;
    max-width: 90%;
    padding: 8px 6px;
    margin: 0;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
    .util-number:invalid {
        background-color: #ff8080;
    }    
    .util-number:valid {
        background-color: white;
    }
    .util-number:focus {
        /*border-style: outset;*/
        background-color: #f2f2f2;
        /*SOMBRA*/
        -moz-box-shadow: 4px 4px 3px #C0C0C0;
        -webkit-box-shadow: 4px 4px 3px #C0C0C0;
        box-shadow: 4px 4px 3px #C0C0C0;
    }    
    .util-number:hover {
       background-color: #f2f2f2;
    }
#numberSinIVA, #numberCm, #numberPulg, #numberConIVA, #txtDocumento, #txtCorreo, #txtTel, #txtRazónSocial, #txtNombre, #txtPrimerApellido, #txtSegundoApellido {
    margin-right: 16px;
}
#numberCm, #numberPulg {
    border-color: dodgerblue; 
}   
#numberCm:focus, #numberPulg:focus {    
    -moz-box-shadow: 4px 4px 3px dodgerblue;
    -webkit-box-shadow: 4px 4px 3px dodgerblue;
    box-shadow: 4px 4px 3px dodgerblue;
}

#numberCm2, #numberPulg2 {
    margin: 12px 8px 10px 0px;
    border-color: coral;
}

#numberCm2:focus, #numberPulg2:focus {
    -moz-box-shadow: 4px 4px 3px coral;
    -webkit-box-shadow: 4px 4px 3px coral;
    box-shadow: 4px 4px 3px coral;
}

#btnCopiar, #btnDividir, #btnPegar, #btnExtraer, #btnCopiarDocumento, #btnCopiarCorreo, #btnCopiarTel, #btnCopiarRazónSocial, #btnCopiarNombre, #btnCopiarPrimerApellido, #btnCopiarSegundoApellido, #btnBorrarCampos, #btnCargar, #btnGuardar {
    margin: 12px 8px 10px 0px;
    border: 2px solid darkred;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    background-color: white;
    color: darkblue;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    font-family: Consolas, Courier New, Courier, monospace;
    font-size: 20px;
    /*no se puede seleccionar el texto*/
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
    #btnCopiar:active, #btnDividir:active, #btnPegar:active, #formato:active, #btnExtraer:active, #btnCopiarDocumento:active, #btnCopiarCorreo:active, #btnCopiarTel:active, #btnCopiarNombre:active, #btnCopiarRazónSocial:active, #btnCopiarPrimerApellido:active, #btnCopiarSegundoApellido:active, #btnBorrarCampos:active, #btnGuardar:active, #btnCargar:active {
        background-color: #ccf2ff !important;
    }
    #btnCopiar:hover, #btnDividir:hover, #btnPegar:hover, #formato:hover, #btnExtraer:hover, #btnCopiarDocumento:hover, #btnCopiarCorreo:hover, #btnCopiarTel:hover, #btnCopiarRazónSocial:hover, #btnCopiarNombre:hover, #btnCopiarPrimerApellido:hover, #btnCopiarSegundoApellido:hover, #btnBorrarCampos:hover, #btnCargar:hover, #btnGuardar:hover {
        background-color: #f2f2f2;
    }
    #btnCopiar:focus, #btnDividir:focus, #btnPegar:focus, #formato:focus, #btnExtraer:focus, #btnCopiarDocumento:focus, #btnCopiarCorreo:focus, #btnCopiarTel:focus, #btnCopiarRazónSocial:focus, #btnCopiarNombre:focus, #btnCopiarPrimerApellido:focus, #btnCopiarSegundoApellido:focus, #btnBorrarCampos:focus, #btnGuardar:focus, #btnCargar:focus {
        /*SOMBRA*/
        -moz-box-shadow: 4px 4px 3px #C0C0C0;
        -webkit-box-shadow: 4px 4px 3px #C0C0C0;
        box-shadow: 4px 4px 3px #C0C0C0;
        border-style: outset;
    } 

    /* para ocultar dinámicamente elementos con display con prefijos */
    .oculto {
        display: none !important;
    }

/* top button */
#BtnTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 60px !important; /* Place the button */
    right: 30px; /* Place the button 30px from the right */
    z-index: 200; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #cc0000; /* Set a background color */
    background-color: rgba(204, 0, 0, 0.7); /* background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 8px 10px; /* Some padding */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; /* Rounded corners */
    font-size: 1.2em;
    font-weight: bold;
    /*SOMBRA*/
    /* rgb es rgb(179, 0, 179) */
    -moz-box-shadow: 4px 4px 3px #ff3333;
    -moz-box-shadow: 4px 4px 3px rgba(255, 51, 51, 0.6);
    -webkit-box-shadow: 4px 4px 3px #ff3333;
    -webkit-box-shadow: 4px 4px 3px rgba(255, 51, 51, 0.6);
    box-shadow: 4px 4px 3px #ff3333;
    box-shadow: 4px 4px 3px rgba(255, 51, 51, 0.6);
    /*no se puede seleccionar el texto*/
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

    #BtnTop:hover {
        background: #cc3300; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #ff0000, #800000); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #ff0000, #800000); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #ff0000, #800000); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #ff0000, #800000); /* Standard syntax (must be last) */
    }
/* -----------------------------*/
/* loader */
/* --------------------------- */
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /*background: url('pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);*/
    background: rgb(179, 179, 179);
    opacity: 0.8;
    filter: Alpha(opacity=80); /* IE8 and earlier */
    text-align: center;
    /*centrar verticalmente*/
    /* BROWSER DEFINITION */
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    /* W3C DEFINITION */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

    .loader h3 {
        text-align: center;
        width: 100%;
        /* color: #e600e6; */
        color: darkred;
        font-family: Courier New, Courier, monospace;
        font-weight: bold;
        text-shadow: 2px 2px 3px #ffffff;
        /*no se puede seleccionar el texto*/
        -webkit-user-select: none; /* Chrome, Opera, Safari */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Standard syntax */
    }

.sk-cube-grid {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

    .sk-cube-grid .sk-cube {
        width: 33%;
        height: 33%;
        background-color: #333;
        float: left;
        -moz-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        -o-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    }

    .sk-cube-grid .sk-cube1 {
        -o-animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube2 {
        -moz-animation-delay: 0.3s;
        -o-animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube3 {
        -moz-animation-delay: 0.4s;
        -o-animation-delay: 0.4s;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .sk-cube-grid .sk-cube4 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube5 {
        -moz-animation-delay: 0.2s;
        -o-animation-delay: 0.2s;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube6 {
        -moz-animation-delay: 0.3s;
        -o-animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube7 {
        -moz-animation-delay: 0s;
        -o-animation-delay: 0s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .sk-cube-grid .sk-cube8 {
        -moz-animation-delay: 0.1s;
        -o-animation-delay: 0.1s;
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube9 {
        -moz-animation-delay: 0.2s;
        -o-animation-delay: 0.2s;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@-moz-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -moz-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -moz-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@-o-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -o-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -o-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}
/* FIN LOADER */
/* ---------- */
/*SNACKBAR INICIA */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    width: 250px; /* siempre igual, siempre centrado */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #cc0000; /* background color */
    background-color: rgba(204, 0, 0, 0.7); /* background color */
    border: 2px outset darkred;
    border: 2px outset rgba(139, 0, 0, 0.6);
    text-shadow: 2px 2px 3px #000000;
    color: white; /* White text color */
    text-align: center; /* Centered text */
    /*font-family: Verdana, Geneva, Tahoma, sans-serif; fuente*/
    font-family: Consolas, Courier New, Courier, monospace;
    -moz-border-radius: 10px; /*borde redondeado*/
    -webkit-border-radius: 10px; /*borde redondeado*/
    border-radius: 10px; /*borde redondeado*/
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 500; /* ver cabeza de este CSS */
    left: 50%; /* Center the snackbar */
    bottom: 70px; /* 30px from the bottom */
    /*SOMBRA*/
    /* en rgb es rgb(77, 0, 77) */
    -moz-box-shadow: 5px 5px 3px #ff3333;
    -moz-box-shadow: 5px 5px 3px rgba(255, 51, 51, 0.6);
    -webkit-box-shadow: 5px 5px 3px #ff3333;
    -webkit-box-shadow: 5px 5px 3px rgba(255, 51, 51, 0.6);
    box-shadow: 5px 5px 3px #ff3333;
    box-shadow: 5px 5px 3px rgba(255, 51, 51, 0.6);
    /*no se puede seleccionar el texto*/
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    /* no reacciona a eventos del puntero */
    pointer-events: none;
}
/*FIN SNACKBAR*/
fieldset {
    margin: 8px 0;
    /*para que el ancho sea real*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid purple;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    color: darkred;
}

/* INICIO CSS PARA RADIOS PERSONALIZADOS */
/* PROPIOS DE UtilBJ */
#checkJurídica, #checkNatural {
    text-align: left;
    margin: 26px 4px 12px 24px;
    font-family: Consolas, 'Courier New', Courier, monospace;
}
/* el último de cada grupo */
#checkJurídica {
    margin-bottom: 28px;
}
/* The radio container */
.containerR {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: darkred;
}

    /* Hide the browser's default radio button */
    .containerR input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.checkmarkR {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: pink;
    /* BORDE REDONDEADO*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* On mouse-over, add a diferent background color */
.containerR:hover input ~ .checkmarkR {
    background-color: LightPink; /* un poco más oscuro que lavender */
}

/* When the radio button is checked, add a mediumpurple background */
.containerR input:checked ~ .checkmarkR {
    background-color: red; /*  mediumpurple */
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarkR:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerR input:checked ~ .checkmarkR:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.containerR .checkmarkR:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    /* BORDE REDONDEADO*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: white;
}
